<app-header  [headerTitle]=""  [headerBack]=true  ></app-header>

<ion-content>

  <h1>{{'IPRO_PARTNERSHIP.TITLE' | translate}}</h1>
  <div id="cincopa_16381961901702" style="width: 90% !important;"></div>
  <div class="content-wrap">
    <p class="mb30">{{dashboardData[1]?.firstEN}}</p>
    <ion-button class="btn" color="danger" expand="block" (click)="goNext()"> {{'IPRO_PARTNERSHIP.BECOME_PARTNER' | translate}}
    </ion-button> 
    <p class="mb30">{{dashboardData[1]?.secondEN}}</p>
  </div>
</ion-content>