
<app-header  [headerTitle]="'PAGES.SHOP' | translate"  [headerBack]=false  ></app-header>

<ion-content>
  <ion-item *ngIf="allProducts != null && allProducts.length > 0">
    <ion-label>{{'SHOP.Filter' | translate}}:</ion-label>
    <ion-select [(ngModel)]="selectedOption" interface="action-sheet" (ionChange)="changeCategory($event)">
      <ion-select-option value="all">{{'SHOP.All' | translate}}</ion-select-option>
      <ion-select-option *ngFor="let cat of allCategories" [value]="cat.productCategoryId">{{cat.categoryName}}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item *ngIf=" allProducts.length == 0">
      <p class="product-detail">{{'SHOP.NP' | translate}}</p>
  </ion-item>
  <div *ngIf="allProducts != null && allProducts.length > 0">
    <div *ngFor="let prod of allProducts" style="border-bottom: solid #ccc 1px;
    padding: 10px 0px;"  (click)="openDetailsWithQueryParams(prod)" class="item">

  
    <ion-item   lines="none" class="ion-no-padding">

     
      <div class="zoom-box">
        <ion-slides  pager="true" [options]="slideOpts">
          <ion-slide *ngFor="let packageImage of prod.packageImages">
            <!-- <div class="swiper-zoom-container"> -->
              <img src="{{packageImage}}" />
            <!-- </div> -->
            
          </ion-slide>
         
        </ion-slides>
        </div>
     
    <div  class="detail">
            <h2 style="margin:0px">{{prod.packageName}}</h2>
           <!-- {{prod.avail_runtime[Object.keys(prod.avail_runtime)]}} -->
            <!-- <p> {{'SHOP.SD' | translate}}:{{prod.avail_runtime[0]}} </p> -->
            <p> {{'SHOP.SD' | translate}}:{{prod.avail_runtime_default}} </p>
            <p > {{'SHOP.SP' | translate}}: <span><strong>&euro; {{prod.standard_price}} + {{'SHOP.VAT' | translate}}</strong></span></p>
            <p *ngIf="prod.your_price != 0"> {{'SHOP.YP' | translate}}: <span><strong> &euro; {{prod.your_price}} + VAT</strong></span></p>
    </div>
   
    <div>

  </div>
    </ion-item>
    <p class="product-details" *ngIf="prod.productDescription && utility.deviceLang == 'en'" innerHTML="{{prod.productDescription}}"> </p>
    <p class="product-details" *ngIf="prod.productDescriptionDE && utility.deviceLang == 'de'"  innerHTML="{{prod.productDescriptionDE}}"> </p>

  </div>

  </div>
 
</ion-content> 
