<app-header [headerTitle]="'PAGES.SHOP' | translate" [headerBack]=false></app-header>

<ion-content>
  <ion-item *ngIf="allProducts != null && allProducts.length > 0">
    <ion-label>{{'SHOP.Filter' | translate}}:</ion-label>
    <ion-select [(ngModel)]="selectedOption" interface="action-sheet" (ionChange)="changeCategory($event)">
      <ion-select-option value="all">{{'SHOP.All' | translate}}</ion-select-option>
      <ion-select-option *ngFor="let cat of allCategories" [value]="cat.productCategoryId">{{cat.categoryName}}
      </ion-select-option>
    </ion-select>
  </ion-item>


  <div *ngIf="allProducts != null && allProducts.length > 0">
    <div *ngFor="let prod of allProducts" >

      <div *ngIf="prod.packageId != '1'" style="border-bottom: solid #ccc 1px;
      padding: 10px 0px;" (click)="openDetailsWithQueryParams(prod)"  class="item">
        <ion-item lines="none" class="ion-no-padding">


          <div class="zoom-box">
            <ion-slides pager="true" [options]="slideOpts">
              <ion-slide *ngFor="let packageImage of prod.packageImages">
                <!-- <div class="swiper-zoom-container"> -->
                <img src="{{packageImage}}" />
                <!-- </div> -->

              </ion-slide>

            </ion-slides>
          </div>

          <div class="detail">
            <h2 style="margin:0px">{{prod.packageName}}</h2>
            <p class="product-detail" *ngIf="prod.productNameLongEN && utility.deviceLang == 'en'">
              {{prod.productNameLongEN}}</p>
            <p class="product-detail" *ngIf="prod.productNameLongDE && utility.deviceLang == 'de'">
              {{prod.productNameLongDE}}</p>
            <!-- {{prod.avail_runtime[Object.keys(prod.avail_runtime)]}} -->
            <!-- <p> {{'SHOP.SD' | translate}}:{{prod.avail_runtime[0]}} </p> -->
            <p> {{'SHOP.SD' | translate}}:{{prod.avail_runtime_default}} </p>
            <p> {{'SHOP.SP' | translate}}: <span><strong>{{prod.standard_price}} &euro; + {{'SHOP.VAT' |
                  translate}}  </strong></span></p>
            <p *ngIf="prod.your_price != 0"> {{'SHOP.YP' | translate}}: <span><strong>  {{prod.changedPrice }}  &euro; +
              {{'SHOP.VAT' |
              translate}} </strong></span></p>
          </div>

          <div>

          </div>
        </ion-item>
        <p class="product-details" *ngIf="prod.shortDescriptionEN && utility.deviceLang == 'en'"
          innerHTML="{{prod.shortDescriptionEN}}"> </p>
        <p class="product-details" *ngIf="prod.shortDescriptionDE && utility.deviceLang == 'de'"
          innerHTML="{{prod.shortDescriptionDE}}"> </p>

      </div>
    </div>
  </div>
  <ion-item *ngIf=" allProducts.length == 0">
    <p class="product-detail">{{'SHOP.NP' | translate}}</p>
  </ion-item>

</ion-content>