 
 <ion-header translucent>
     <ion-toolbar>
         <ion-title>Select Country</ion-title>
         <ion-buttons slot="end">
             <ion-button (click)="closeModal()">Close</ion-button>
         </ion-buttons>
     </ion-toolbar>
 </ion-header>
<ion-content fullscreen>
    <ion-list>
        <ion-radio-group value="selectedCountry" (ionChange)="selectCountry($event)">
            <ion-item *ngFor="let item of countries;">
                <ion-label>{{item.countryName}}</ion-label>
                <ion-radio mode="md" slot="start" value="{{item.countryId}}"></ion-radio>
            </ion-item>
        </ion-radio-group>
    </ion-list>
</ion-content>