<ion-card *ngIf="placementTree">
  <ion-card-header style="display:flex;align-items: center;" class="title-border diffColor" [ngClass]="{'green': leg=='1', 'red': leg=='3','yellow': leg=='2'}"  *ngIf="leg != ''"> 
    <ion-card-title>Lines {{leg}}  </ion-card-title>
    <!-- <ion-card-title  style="color:#fff;text-decoration:underline;font-size:9px;    position: absolute;
    right: 7%;
    top: 0%;"  *ngIf="!isEmptyObject(placementTree)">  -->
    <ion-button (click)="levelUps(placementTree?.userId,'one')" class="btn" color="secondary" expand="" *ngIf="!isEmptyObject(placementTree)" style="height:20px; position: absolute;
    right: 2%;">Click to select
    </ion-button>
   <!-- </ion-card-title> -->
  </ion-card-header>
  <ion-card-content class="line-free"  *ngIf="isEmptyObject(placementTree)" >
    <span>Free</span>
    <ion-button class="btn" color="secondary" expand="block" (click)="openPopUps(userId,leg)">Click here <br>to Place a new member
    </ion-button>
    <!-- <p  </p> -->

  </ion-card-content>
  <ion-card-content class="line"  *ngIf="!isEmptyObject(placementTree)">
    <ion-grid  *ngIf="leg == ''">
      <ion-row>
        <ion-col  class="colm grey-col textCenter" size="3">
          ID:{{placementTree?.userId != '' ? placementTree?.userId :'--' }} 
        </ion-col>
        <ion-col  class="colm blue-col" size="6" style="padding-left:5px;">
          {{placementTree?.firstName != '' ? placementTree?.firstName :'--' }}  
          {{placementTree?.lastName != '' ? placementTree?.lastName :'--' }}
        </ion-col>
       
        <ion-col  class="colm blue-col textCenter" style="color:#fff !important" size="3">
          {{placementTree?.yourStatus != '' ? placementTree?.yourStatus :'--' }}
        </ion-col>
        </ion-row>
    <ion-row class="grey">
      <ion-col>
        {{replaceRank(placementTree?.rank)}}
        <!-- {{placementTree?.rank != '' ? placementTree?.rank :'--' }} -->
      </ion-col>
      <ion-col>
        PV:{{placementTree?.PV != '' ? placementTree?.PV :'--' }}
      </ion-col>
      <ion-col>
        DV:{{placementTree?.DV != '' ? placementTree?.DV :'--' }}
      </ion-col>
      <ion-col>
        GV:{{placementTree?.GV != '' ? placementTree?.GV :'--' }}
      </ion-col>
    </ion-row>
    <ion-row  *ngIf="leg == ''">
      <ion-col  class="colm blue-col" style="color:#fff !important;padding-left:5px;" size="3">
        Sponosor
      </ion-col>
     
      <ion-col class="colm grey-col" size="3" style="padding-left:5px;">
        ID:{{placementTree?.sponsorId != '' ? placementTree?.sponsorId :'--' }}

      </ion-col>
     
    </ion-row>
  
    <ion-row class="grey">
      <ion-col  size="8">
        {{placementTree?.sponsorName != '' ? placementTree?.sponsorName :'--' }}
      </ion-col>
      <ion-col >
       {{placementTree?.sponsorRank != '' ? replaceRank(placementTree?.sponsorRank) : placementTree?.sponsorStatus }}

      </ion-col>
     
    </ion-row>
  

  </ion-grid>
    <ion-grid *ngIf="leg != ''">
        <ion-row>
          <ion-col  class="colm grey-col textCenter" size="3">
            ID:{{placementTree?.userId != '' ? placementTree?.userId :'--' }} 
          </ion-col>
          <ion-col   class="colm blue-col" size="6" style="padding-left:5px;">
            {{placementTree?.firstName != '' ? placementTree?.firstName :'--' }}  
            {{placementTree?.lastName != '' ? placementTree?.lastName :'--' }}
          </ion-col>
         
          </ion-row>
      <ion-row class="grey">
        <ion-col>
          {{replaceRank(placementTree?.rank)}}
        </ion-col>
        <ion-col>
          PV:{{placementTree?.PV != '' ? placementTree?.PV :'--' }}
        </ion-col>
        <ion-col>
          DV:{{placementTree?.DV != '' ? placementTree?.DV :'--' }}
        </ion-col>
        <ion-col>
          GV:{{placementTree?.GV != '' ? placementTree?.GV :'--' }}
        </ion-col>
      </ion-row>
    
      <ion-row  >
        <ion-col  class="colm blue-col" style="color:#fff !important;padding-left:5px;font-size: 7px!important;" size="3">
          Sponosor
        </ion-col>
       
        <ion-col class="colm grey-col" size="3" style="padding-left:5px;font-size: 7px!important;">
          ID:{{placementTree?.sponsorId != '' ? placementTree?.sponsorId :'--' }}

        </ion-col>
       
      </ion-row>
      <ion-row class="grey">
        <ion-col  size="8">
          {{placementTree?.sponsorName != '' ? placementTree?.sponsorName :'--' }}
        </ion-col>
        <ion-col >
         {{placementTree?.sponsorRank != '' ? replaceRank(placementTree?.sponsorRank) : placementTree?.sponsorStatus }}

        </ion-col>
       
      </ion-row>
      <!-- <ion-row *ngIf="leg != ''" class="grey">
        <ion-col  size="8">
          {{placementTree?.sponsorName != '' ? placementTree?.sponsorName :'--' }}
        </ion-col>
       
       
        <ion-col style="text-align: right;">
          {{placementTree?.sponsorRank != '' ? placementTree?.sponsorRank :'--' }}
        </ion-col>
       
      </ion-row> -->

    </ion-grid>
   
  </ion-card-content>
  <div  *ngIf="leg != ''" >
   
  
    <ion-button class="btn" color="secondary" expand="block" (click)="lowestLevels(placementTree?.userId)" *ngIf="!isEmptyObject(placementTree)"  >
      Go To Lowest Level Line {{leg}}
    </ion-button>
  </div>
</ion-card>
