<ion-header>
  
  <ion-toolbar class="ion-toolbar">
    <ion-buttons slot="start" *ngIf="headerBack">
      <img (click)="back()" class="back-icon" src="assets/img/back.png">
    </ion-buttons>
    <ion-title>{{headerTitle}}</ion-title>
   
      <ion-buttons slot="end">
        <!-- <ion-icon name="cart-outline"></ion-icon>
        <ion-badge color="primary">{{utilSer.cartNo}}</ion-badge> -->
        <img class="bell-icon" src="assets/img/bell.png" (click)="utilSer.goNext('/tabs/notification')">
        <ion-badge color="primary" *ngIf="utilSer.newNotification > 0" style="    margin-top: -15px;
          margin-left: -12px;">{{utilSer.newNotification}}</ion-badge>
          

        <img (click)="openPopup()" src="assets/img/calling.png"  class="call-icon"/>
       
      </ion-buttons>
  </ion-toolbar>
</ion-header>