
<app-header  [headerTitle]="'PAGES.CHECKZIP' | translate"  [headerBack]=true  ></app-header>


<ion-content>
  <div class="register-header">
    <h1>{{'BOOKING_ANALYSIS.CHECK_ZIP' | translate}} </h1>
  </div>
  <form  [formGroup]="form">
    <ion-item lines="none" class="form-group ion-no-padding"> 
      <ion-input type="text" id="zip" formControlName="zip" placeholder="Zip" autocapitalize="off"></ion-input>
    </ion-item>
    <div *ngFor="let validation of validationMessage.zip">
      <div *ngIf="submitted && formControls['zip'].errors" class="validation-message">
        <div class="error-message text-red " *ngIf="formControls['zip'].errors[validation.type]">
          {{ validation.message }}
        </div>
      </div>
    </div>
    <ion-button (click)="submit()" class="btn" color="danger" expand="block">
      {{'BOOKING_ANALYSIS.SUBMIT_BUTTON' | translate}}</ion-button>
  </form>
</ion-content>