<ion-content>
  <div class="forgot-img-layer">
    <img src="assets/img/logo.png">
  </div>
  <div class="forgot-header">
    <h1>{{'FORGOT_PASSWORD.TITLE' | translate}}</h1>
  </div>
  <form [formGroup]="form">
     <ion-item lines="none" class="form-group ion-no-padding">
       <!-- <ion-label for="email" position="floating">{{'FORGOT_PASSWORD.EMAIL' | translate}}</ion-label> -->
       <ion-input formControlName="email" placeholder="{{'FORGOT_PASSWORD.EMAIL' | translate}}" inputmode="email"
         id="email" autocapitalize="off"></ion-input>
     </ion-item>
     <div *ngFor="let validation of validationMessage.email">
       <div *ngIf="submitted && formControls['email'].errors" class="validation-message">
         <div class="error-message text-red " *ngIf="formControls['email'].errors[validation.type]">
           {{ validation.message }}
         </div>
       </div>
     </div>
    <ion-button class="btn" color="danger" expand="block" (click)="submit()">{{'FORGOT_PASSWORD.SUBMIT_BTN' | translate}}
    </ion-button>
    <a class="dont-know">{{'FORGOT_PASSWORD.ALREADY_REGISTERED' | translate}} <span
        [routerLink]="['/login']">{{'FORGOT_PASSWORD.LOGIN' | translate}}</span></a>
  </form>
</ion-content>
