<app-header [headerTitle]="'PAGES.PRODUCTDETAIL' | translate" [headerBack]=true></app-header>

<ion-content>
  <ion-modal style="--height: 500px;" [isOpen]="ionModelOpen" [swipeToClose]="false" [backdropDismiss]="false"
    [keyboardClose]="false">
    <ng-template>
      <ion-header>
        <ion-toolbar style="--background:#fff !important">

          <ion-icon slot="end" name="close-circle" (click)="ionModelOpen=false;slideOpts['zoom']={}"></ion-icon>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <div class='full-zoom-box'>
          <ion-slides pager=" true" [options]="slideOpts" style="height: 350px;">
            <!-- packageImages -->
            <ion-slide *ngFor="let packageImage of detail.packageImages">
              <!-- <div class="swiper-zoom-container"> -->
              <img src="{{packageImage}}" alt="{{detail.packageName}}" />
              <!-- </div> -->

            </ion-slide>

          </ion-slides>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
  <div style="padding-bottom: 30px;">
  <div class="zoom-box">
    <ion-slides pager="true" [options]="slideOpts">

      <ion-slide *ngFor="let packageImage of detail.packageImages">
        <!-- <div class="swiper-zoom-container"> -->
        <img src="{{packageImage}}" alt="{{detail.packageName}}" (click)="ionModelOpen=true;slideOpts['zoom']={
        minRatio: 1,
        maxRatio: 3,
        toggle: true,
        containerClass :'swiper-zoom-container',
        zoomedSlideClass: 'swiper-slide-zoomed'
      }" />
        <!-- </div> -->

      </ion-slide>

    </ion-slides>
  </div>

  <ion-item lines="none">

    <!-- <div>-->

    <div class="product">


      <h2>{{detail.packageName}}</h2>
      <p class="product-detail" *ngIf="detail.productNameLongEN && utility.deviceLang == 'en'">
        {{detail.productNameLongEN}}</p>
      <p class="product-detail" *ngIf="detail.productNameLongDE && utility.deviceLang == 'de'">
        {{detail.productNameLongDE}}</p>
      <!-- <p class="product-detail"> {{detail.productDescriptionDE}}</p> -->
      <ion-select #availTym class="price-detail ion-margin" [(ngModel)]="detail.avail_runtime_default" interface="action-sheet"
        (ionChange)="changeDuration($event,detail.avail_runtime)" *ngIf="detail != undefined" style="width: 250px;">
        <ion-select-option *ngFor="let avtym of detail.avail_runtime | keyvalue" [value]="avtym.value">{{avtym.value}}
        </ion-select-option>
      </ion-select>
      <!-- </div> -->



    </div>
    <!-- <div> -->
    <!-- <ion-label>Hair Color</ion-label> -->


    <!-- </div> -->


  </ion-item>
  <h1 class="price"><strong> {{detail.changedPrice}}   &euro; + {{'CART.VAT' | translate}}</strong></h1>

  <div class="content-wrap">
    <ion-button class="btn" color="danger" expand="block" [disabled]="detail.added_to_cart == 'yes'"
      (click)="addTobasket()">
      {{'PRODUCT.ADDTOCART' | translate}}
    </ion-button>
  </div>
  <div class="content-wrap">
    <ion-button class="btn" color="danger" expand="block" (click)="removeItem()"
      [disabled]=" detail.added_to_cart == 'no'">
      {{'PRODUCT.REMOVE' | translate}}
    </ion-button>
  </div>
  <ion-item lines="none">
    <p class="product-detail" *ngIf="detail.productDescription && utility.deviceLang == 'en'"
      innerHTML="{{detail.productDescription}}"></p>
    <p class="product-detail" *ngIf="detail.productDescriptionDE && utility.deviceLang == 'de'"
      innerHTML="{{detail.productDescriptionDE}}"> </p>
  </ion-item>
</div>
</ion-content>