ion-item{
    display: flex;
    flex-direction: column;
  
}

.product{
    // padding:10px;
    // display: flex;
 //   text-align: center;

} 

 .zoom-box img{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
} 
.product div{
    display: flex;
    flex-direction:column;
    padding-left: 20px;
    padding-bottom: 10px;
} 
.product div h2{
    margin: 0px;
    font-size: 16px;
    line-height: 24px;
    color: #6D6D6D;
    font-weight: 800;
}
.product div p{
    margin: 0px;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #6D6D6D;

}
.product-detail{
    padding: 0px;
    margin: 0px;
    font-size: 14px;
    line-height: 14px;
    // display: flex;
    align-items: center;
    color: #6D6D6D;
}
ion-input{
    font-size: 12px;
    border: 1px solid #d6d6d6 !important;
    height: 28px;
    width: 50%;
    max-width: 50%;
    border-radius: 5px !important;
    padding: 0px 11px !important;
}
ion-label{
    //  margin-left: 25%;
    //  flex:1 0% 0% !important;

}

.price-detail{
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 8px;
    // padding-left: 15px;
    // margin-top: 10px;
    margin-left: 0px;
}

.price{
    margin-top: 20px;
    text-align: center;
}
.btn{
    height: 40px;
    font-size: 16px;
    font-weight: 600;
    --border-radius: 4px;
    margin: 20px;
}
.zoom-box {
    // position: absolute;
    height: 40%;
    display: flex;
    padding-top:20px;
    // width: 45%;
}

.full-zoom-box{
     padding-top: 20px;
    // padding-bottom: 20px;
  
}