

<ion-content>
  <div></div>

  <div *ngIf="!placementTree?.hasOwnProperty('data')">
    <!-- <div class="ion-cards">
      <ion-card>
        <ion-card-content> -->
         <p class="no-member">{{placementTree?.msg}}</p> 
         <ion-button class="btn" color="secondary" expand="block" (click)="cancelSearch()" >
          {{'MEMBER_MANAGEMENT.BTNS.clear' | translate}} 
         </ion-button>
        <!-- </ion-card-content>
      </ion-card>
    </div> -->

  </div>
  <!-- line1 -->
  <div *ngIf="placementTree?.hasOwnProperty('data')">
    <div class="ion-cards">

      <!-- <ion-card> -->
        <!-- <ion-card-content> -->
          <div style="display:flex;flex-direction: column;width: 25%;">
            <ion-button class="btn" color="secondary" expand="block" (click)="goTohome()" >
              {{'MEMBER_MANAGEMENT.BTNS.backHome' | translate}} 
             </ion-button>
            <ion-button class="btn" color="secondary" expand="block" (click)="searchPopup()" >
              {{'MEMBER_MANAGEMENT.BTNS.search' | translate}} 
            </ion-button>
          </div>
       

        <app-lines  [placementTree]="placementTree?.data" [userId]="placementTree?.data?.userId" [leg] = "''" style="width:45%"></app-lines>

            
        <!-- <ion-card-content>  || placementTree?.data?.levelUpUser == loggedInuser" -->
          <div style="display:flex;flex-direction: column;width: 30%;">
            <ion-button class="btn" color="secondary" expand="block" (click)="beforelevelUp(placementTree?.data?.levelUpUser,'top')"   [disabled]="loggedInuserInsearch || searchType =='tree' ">
              {{'MEMBER_MANAGEMENT.BTNS.leveleUP' | translate}} 
           </ion-button>
           <!-- || placementTree?.data?.levelUpUser == loggedInuser -->
          <ion-button class="btn" color="secondary" expand="block" (click)="beforelevelUp(placementTree?.data?.levelUpUser,'one')" [disabled]="loggedInuserInsearch || searchType =='tree'">
            {{'MEMBER_MANAGEMENT.BTNS.oneLevelUp' | translate}} 
           </ion-button>
           
          </div>
        <!-- </ion-card-content> -->
      <!-- </ion-card> -->
    </div>

    <!-- line -->
    <div class="ion-cards">
     
      <!-- line -->
      <app-lines style="width:33%" (openPopUp)="openPopUp($event,leg)"  (lowestLevel)="lowestLevel($event)" (levelUp)="levelUp($event)" [placementTree]="placementTree?.data?.leg1" [userId]="placementTree?.data?.userId" [leg] = "'1'" [levelUpId]="placementTree?.data?.levelUpUser"></app-lines>
      <app-lines  style="width:33%" (openPopUp)="openPopUp($event,leg)" (lowestLevel)="lowestLevel($event)" (levelUp)="levelUp($event)"  [placementTree]="placementTree?.data?.leg2" [userId]="placementTree?.data?.userId" [leg] = "'2'" [levelUpId]="placementTree?.data?.levelUpUser"></app-lines>
      <app-lines style="width:33%" (openPopUp)="openPopUp($event,leg)" (lowestLevel)="lowestLevel($event)" (levelUp)="levelUp($event)"  [placementTree]="placementTree?.data?.leg3" [userId]="placementTree?.data?.userId" [leg] = "'3'" [levelUpId]="placementTree?.data?.levelUpUser"></app-lines>
      
      <!-- line -->
     
    </div>
  </div>


  <div style="padding:10px;"></div>

</ion-content>

