<app-header [headerTitle]="'PAGES.PAYMENT_COMMISSION' | translate" [headerBack]=true></app-header>

<ion-content style="padding:10px;">
  <div style="padding:10px;"></div>

  <form [formGroup]="form">
    <ion-card>
      <ion-card-content class="">
        <!-- <ion-radio-group [value]="paymnetMethod"> -->

        <ion-item lines="none">
          <ion-label>{{'PAYMENT_OPTON.Activate' | translate}}/{{'PAYMENT_OPTON.Deactivate' | translate}}</ion-label>
          <ion-checkbox slot="start" formControlName="iban" [(ngModel)]="iban" class="radio"
            (ionChange)="onIBANchange();"></ion-checkbox>
        </ion-item>
        <!-- <div *ngIf="cardPaymentoption.commissionPaymentOption != 'Bitcoin'"> -->
          <!-- </ion-radio-group> -->
          <ion-item lines="none" style="text-align:center;padding:2% 12%;">
            <p style="font-size:12px">{{'PAYMENT_OPTON.SEPA' | translate}}</p>

          </ion-item>
          <ion-item lines="none" style="--min-height: 30px;">
            <span style="font-size: 13px;
        color: #666666;">{{'PAYMENT_OPTON.countrycode' | translate}}</span>

          </ion-item>
          <ion-item lines="none" class="form-group ion-no-padding">

            <div class="phone-code-div">

              <ion-select (ionChange)="changeCode($event)" formControlName="ibancode" [(ngModel)]="ibancode">
                <ion-select-option *ngFor="let con of countries" [value]="con.IBAN">{{con.IBAN}}
                </ion-select-option>

              </ion-select>
            </div>

            <ion-input type="text" id="iban" placeholder="" autofocus="false" formControlName="ibanNo"></ion-input>
          </ion-item>
          <div *ngFor="let validation of validationMessage.iban">
            <div
              *ngIf="submitted && formControls['ibanNo'].errors"
              class="validation-message"
            >
              <div
                class="error-message text-red"
                *ngIf="formControls['ibanNo'].errors[validation.type]"
              >
                {{ validation.message }}
              </div>
            </div>
          </div>
          <!-- <p style="font-size:12px;text-decoration: underline;text-align: center;" (click)="checkIban(ibanNo)"
            [ngClass]="{'green': ibanCheck == 'pass', 'red': ibanCheck == 'fail','blue': ibanCheck == 'notchecked'}">
            {{'PAYMENT_OPTON.validate' | translate}}</p> -->

          <!-- <ion-item lines="none" >

            <span style="font-size:12px;" *ngIf="cardPaymentoption?.bic != '' ">{{'PAYMENT_OPTON.Bic' | translate}}:{{cardPaymentoption.bic!= '' ?cardPaymentoption.bic:'--'}}</span>

          </ion-item> -->
          <p style="font-size:12px;" class="red">{{erroriban}}</p>


          <!-- <ion-item  lines="none"  > -->

          <div style="text-align:center;padding:2% 12%;" slot="center">
            <ion-button class="card-btn" color="secondary" expand="" (click)="savePayment('iban')"
              >
              <!-- [disabled]="ibanCheck != 'pass'" -->
              {{'PAYMENT_OPTON.btns.save' | translate}}
            </ion-button>
            <p style="color: #666666;font-size:12px">{{'PAYMENT_OPTON.freeaccount' | translate}}</p>
            <ion-button class="card-btn" color="danger" expand="" (click)="getOnthelink()">
              {{'PAYMENT_OPTON.btns.getone' | translate}}
            </ion-button>
          </div>


        <!-- </div> -->

      </ion-card-content>
    </ion-card>
    <!-- <ion-card>


      <ion-card-content class="">
        <ion-item lines="none">
          <ion-label>{{'PAYMENT_OPTON.Activate' | translate}}/{{'PAYMENT_OPTON.Deactivate' | translate}}</ion-label>
          <ion-checkbox slot="start" formControlName="bitcoin" [(ngModel)]="bitcoin" class="radio"
            (ionChange)="onBitcoinChange()"></ion-checkbox>
        </ion-item>
        <ion-item lines="none" style="text-align:center;padding:2% 12%;--min-height: 20px;">
          <p style="text-align:center;">{{'PAYMENT_OPTON.BITCOIN' | translate}}</p>

        </ion-item>
        <ion-item lines="none" style="--min-height: 30px;">
          <span style="font-size: 13px;
        color: #666666;">{{'PAYMENT_OPTON.wallet' | translate}}</span>

        </ion-item>
        <ion-item lines="none" class="form-group ion-no-padding">
          <ion-input type="text" id="bitcoin" placeholder="" autofocus="false" formControlName="wallet"></ion-input>

        </ion-item>
        <p style="font-size:12px;" class="red">{{error}}</p>
        <div style="text-align:center;padding:2% 12%;">
          <ion-button class="card-btn" color="danger" expand="" (click)="savePayment('bitcoin')">
            {{'PAYMENT_OPTON.btns.save' | translate}}
          </ion-button>
        </div>

      </ion-card-content>
    </ion-card> -->
  </form>
  <div style="padding:10px;"></div>
</ion-content>