<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button [routerLink]="[ '/tabs/area-of-interest']">
      <ion-icon name="home"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>

    <ion-tab-button [routerLink]="[ '/tabs/shop']">
      <ion-icon name="storefront-outline"></ion-icon>
      <ion-label>Shop</ion-label>
    </ion-tab-button>

    <ion-tab-button [routerLink]="[ '/tabs/card']">
      <ion-icon name="cart-outline"></ion-icon>
      <ion-label>Cart</ion-label>
    </ion-tab-button>
    <ion-tab-button (click)="openMenu()">
      <ion-icon name="menu"></ion-icon>
      <ion-label>Menu</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>