<app-header  [headerTitle]="'CHANGEPASS.title' | translate"  [headerBack]=true  ></app-header>
<ion-content>
  
  <!-- <div class="login-img-layer">
    <img src="assets/img/logo.png" />
  </div>
  <div class="login-header">pass
    <h1>{{'LOGIN.TITLE' | translate}}</h1>
  </div> -->
  <div>
  <form [formGroup]="form">
   
    <ion-item lines="none" class="form-group ion-no-padding password-input">
      <!-- <ion-label for="password" position="floating">{{'LOGIN.PASSWORD' | translate}}</ion-label> -->
      <ion-input
        id="oldpassword"
        formControlName="oldpassword"
        placeholder="{{'CHANGEPASS.OLDPASS' | translate}}"
        autocapitalize="off"
        type="text"
      >
      </ion-input>
      <!-- <ion-icon
        *ngIf="type === 'password'"
        (click)="changeType()"
        name="eye-outline"
      >
      </ion-icon>
      <ion-icon
        *ngIf="type === 'text'"
        (click)="changeType()"
        name="eye-off-outline"
      >
      </ion-icon> -->
    </ion-item>
    <div *ngFor="let validation of validationMessage.oldpassword">
      <div
        *ngIf="submitted && formControls['oldpassword'].errors"
        class="validation-message"
      >
        <div
          class="error-message text-red"
          *ngIf="formControls['oldpassword'].errors[validation.type]"
        >
          {{ validation.message }}
        </div>
      </div>
    </div>
    <ion-item lines="none" class="form-group ion-no-padding password-input">
      <!-- <ion-label for="password" position="floating">{{'LOGIN.PASSWORD' | translate}}</ion-label> -->
      <ion-input
        id="newpassword"
        formControlName="newpassword"
        placeholder="{{'CHANGEPASS.NEWPASS' | translate}}"
        autocapitalize="off"
        [type]="type"
      >
      </ion-input>
      <ion-icon
        *ngIf="type === 'password'"
        (click)="changeType()"
        name="eye-outline"
      >
      </ion-icon>
      <ion-icon
        *ngIf="type === 'text'"
        (click)="changeType()"
        name="eye-off-outline"
      >
      </ion-icon>
    </ion-item>
    <div *ngFor="let validation of validationMessage.newpassword">
      <div
        *ngIf="submitted && formControls['newpassword'].errors"
        class="validation-message"
      >
        <div
          class="error-message text-red"
          *ngIf="formControls['newpassword'].errors[validation.type]"
        >
          {{ validation.message }}
        </div>
      </div>
    </div>
    <ion-item lines="none" class="form-group ion-no-padding password-input">
      <!-- <ion-label for="password" position="floating">{{'LOGIN.PASSWORD' | translate}}</ion-label> -->
      <ion-input
        id="confirmpassword"
        formControlName="confirmpassword"
        placeholder="{{'CHANGEPASS.CONFIRMPASS' | translate}}"
        autocapitalize="off"
        [type]="type"
      >
      </ion-input>
      <ion-icon
        *ngIf="type === 'password'"
        (click)="changeType()"
        name="eye-outline"
      >
      </ion-icon>
      <ion-icon
        *ngIf="type === 'text'"
        (click)="changeType()"
        name="eye-off-outline"
      >
      </ion-icon>
    </ion-item>
    <div *ngFor="let validation of validationMessage.confirmpassword">
      <div
        *ngIf="submitted && formControls['confirmpassword'].errors"
        class="validation-message"
      >
        <div
          class="error-message text-red"
          *ngIf="formControls['confirmpassword'].errors[validation.type]"
        >
          {{ validation.message }}
        </div>
      </div>
    </div>
   
    <ion-button class="btn" (click)="changePassword()" color="danger" expand="block"
      >{{'CHANGEPASS.title' | translate}}
    </ion-button>
   
   
  </form>
</div>
</ion-content>
