<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu menuId="first" contentId="main-content">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-menu-toggle auto-hide="false" *ngFor="let p of utility.appPages; let i = index">
            <ion-item class="menu-label" routerDirection="root" [routerLink]="[p.url]" (click)="menu(p)" lines="none"
              detail="false" routerLinkActive="selected">
              <img src={{p.icon}}>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
            <div class="sub-menu" *ngIf="p.subPages != null">
              <p *ngFor="let subP of p.subPages" id="{{subP.id}}" routerDirection="root" [routerLink]="[subP.url]"
                (click)="menu(subP)">{{subP.title1}}
              </p>
            </div>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>





    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>