<ion-content >
  <!-- [fullscreen]="true"
  <div id="container">
    <ion-button expand="block" color="primary" (click)="playOfflineVideo()">View Local Video</ion-button>
    <ion-button expand="block" color="success" (click)="playOnlineVideo()">View Online Video</ion-button>
    <ion-button expand="block" color="danger" (click)="closeVideoPlayer()">Close Video Player</ion-button>
  </div> -->
  <div class="register-img-layer">
    <img src="assets/img/logo.png" />
    
  </div>
  <div style="margin:15px !important;">
  <div id="cincopa_16381961901703"  style="width: 90% !important;"></div>
</div>
  <!-- <div class="register-img"></div> -->
  <div class="register-header">
    <h1>{{'REGISTER.TITLE' | translate}}</h1>
  </div>
  <form [formGroup]="form">
    <ion-list>
    <ion-item lines="none" class="form-group ion-no-padding">
      <ion-select
        formControlName="language"
        type="text"
        id="language"
        interface="action-sheet"
        placeholder="Language"
        autocapitalize="off"
        (ionChange)="changeLan($event)"
      >
        <ion-select-option value="en">English</ion-select-option>
        <ion-select-option value="de">German</ion-select-option>
      </ion-select>
    </ion-item>
      <div *ngFor="let validation of validationMessage.language">
        <div
          *ngIf="submitted && formControls['language'].errors"
          class="validation-message"
        >
          <div
            class="error-message text-red"
            *ngIf="formControls['language'].errors[validation.type]"
          >
            {{ validation.message }}
          </div>
        </div>
      </div>
   
    <ion-item lines="none" class="form-group ion-no-padding">
      <!-- <ion-label>{{'REGISTER.COUNTRY' | translate}}</ion-label> -->
      <ionic-selectable  item-content  formControlName="countryNames"   id="country"  [items]="countires"   [canSearch]="true"
       (onChange)="selectCountry($event,'countryname')" (onSearch)="searchCountry($event)">
       <ng-template ionicSelectableItemTemplate let-con="item" >
        <span
        class="flag-icon flag-icon-{{ con.countryCode.toLowerCase() }}"
        style="font-size: 17px; top: 0px"
      ></span>
        {{con.countryName}} 
      </ng-template>
      </ionic-selectable>
    </ion-item>
     
      <div *ngFor="let validation of validationMessage.country">
        <div
          *ngIf="submitted && formControls['country'].errors"
          class="validation-message"
        >
          <div
            class="error-message text-red"
            *ngIf="formControls['country'].errors[validation.type]"
          >
            {{ validation.message }}
          </div>
        </div>
      </div>
      <div *ngFor="let validation of validationMessage.honor">
        <div
          *ngIf="submitted && formControls['honor'].errors"
          class="validation-message"
        >
          <div
            class="error-message text-red"
            *ngIf="formControls['honor'].errors[validation.type]"
          >
            {{ validation.message }}
          </div>
        </div>
      </div>
    <!-- <ion-item lines="none" class="form-group ion-no-padding">
      <ion-input
        readonly
        type="text"
        formControlName="countryName"
        id="country"
        placeholder="{{'REGISTER.COUNTRY' | translate}}"
        (click)="openModal()"
        autocapitalize="off"
        [disabled]="countires.length == 0"
      ></ion-input>
    </ion-item> -->

    <!-- <ion-item lines="none" class="ion-no-padding" >
      <div *ngFor="let validation of validationMessage.country">
        <div
          *ngIf="submitted && formControls['country'].errors"
          class="validation-message"
        >
          <div
            class="error-message text-red"
            *ngIf="formControls['country'].errors[validation.type]"
          >
            {{ validation.message }}
          </div>
        </div>
      </div>
      <div *ngFor="let validation of validationMessage.honor">
        <div
          *ngIf="submitted && formControls['honor'].errors"
          class="validation-message"
        >
          <div
            class="error-message text-red"
            *ngIf="formControls['honor'].errors[validation.type]"
          >
            {{ validation.message }}
          </div>
        </div>
      </div>
    </ion-item> -->
    
    <!-- <ion-item lines="none"class="form-group ion-no-padding">
      <ion-select type="text" formControlName="honor" id="honor" interface="action-sheet" placeholder="Honor"
        autocapitalize="off">
        <ion-select-option value="MR">Mr</ion-select-option>
        <ion-select-option value="MRS">Mrs</ion-select-option>
      </ion-select>
    </ion-item> -->
   
    <ion-item lines="none" class="form-group ion-no-padding">
      <ion-input
        type="text"
        formControlName="firstName"
        id="firstname"
        placeholder="{{'REGISTER.FIRSTNAME' | translate}}"
        autofocus="on"
      >
    </ion-input>
    
    </ion-item>
      <div *ngFor="let validation of validationMessage.firstName">
        <div
          *ngIf="submitted && formControls['firstName'].errors"
          class="validation-message"
        >
          <div
            class="error-message text-red"
            *ngIf="formControls['firstName'].errors[validation.type]"
          >
            {{ validation.message }}
          </div>
        </div>
      </div>

  
    <ion-item lines="none" class="form-group ion-no-padding">
      <ion-input
        type="text"
        formControlName="lastName"
        id="lastname"
        placeholder="{{'REGISTER.LASTNAME' | translate}}"
        autofocus="on"
      >
      </ion-input>
    </ion-item>
      <div *ngFor="let validation of validationMessage.lastName">
        <div
          *ngIf="submitted && formControls['lastName'].errors"
          class="validation-message"
        >
          <div
            class="error-message text-red"
            *ngIf="formControls['lastName'].errors[validation.type]"
          >
            {{ validation.message }}
          </div>
        </div>
      </div>
   
    <ion-item lines="none" class="form-group ion-no-padding">
      <ion-input
        type="email"
        id="email"
        formControlName="email"
        placeholder="{{'REGISTER.EMAIL' | translate}}"
        autofocus="on"
      >
      </ion-input>
    </ion-item>
      <div *ngFor="let validation of validationMessage.email">
        <div
          *ngIf="submitted && formControls['email'].errors"
          class="validation-message"
        >
          <div
            class="error-message text-red"
            *ngIf="formControls['email'].errors[validation.type]"
          >
            {{ validation.message }}
          </div>
        </div>
      </div>
    <ion-item lines="none" class="form-group ion-no-padding">
      <!-- <div class="phone-code-div"> -->
        <!-- <ion-grid>
          <ion-row>
            <ion-col> -->
              <div class="phone-code-div">
                <span
                class="flag-icon flag-icon-{{selectedCountry?.countryCode.toLowerCase()}}"
                style="font-size: 17px; top: -2px;    margin-left: 10px;"
              ></span>
            
                <ionic-selectable item-content class="phone-ion " formControlName="phoneCode"   id="code"  [items]="countires"   [canSearch]="true"
                (onChange)="selectCountry($event,'phonecode')" (onSearch)="searchCountry($event)">
               
                
                <ng-template ionicSelectableItemTemplate let-con="item">
                 <span
                 class="flag-icon flag-icon-{{ con.countryCode.toLowerCase() }}"
                 style="font-size: 17px; top: 0px"
               ></span>
                 {{con.countryName}} 
               </ng-template>
               </ionic-selectable>
              </div>
             
            <!-- </ion-col>
            <ion-col> -->
              <ion-input
             
              type="tel"
              id="mobile-number"
              formControlName="phone"
              placeholder="{{'REGISTER.MOBILE' | translate}}"
              autocapitalize="off"
              autofocus="false"
            ></ion-input>
            <!-- </ion-col>
          </ion-row>
        </ion-grid> -->
       
       
        
  
       
       
      <!-- </div> -->
    
      <!-- <div  (click)="selectCountry($event)"> -->
        <!-- <span
        class="flag-icon flag-icon-{{selectedCountry?.countryCode.toLowerCase()}}"
        style="font-size: 17px; top: -2px"
      ></span> -->
      
      <!-- </div> -->
    
   
    </ion-item>
   
      <div *ngFor="let validation of validationMessage.phone">
        <div
          *ngIf="submitted && formControls['phone'].errors"
          class="validation-message"
        >
          <div
            class="error-message text-red"
            *ngIf="formControls['phone'].errors[validation.type]"
          >
            {{ validation.message }}
          </div>
        </div>
      </div>
   
  
    <ion-item lines="none" class="form-group ion-no-padding">
      <ion-input
        type="text"
        id="activation-code"
        formControlName="sponsorId"
        placeholder="{{'REGISTER.ACTIVATION_CODE' | translate}}"
        autocapitalize="off"
        maxlength="6"
        minlength="4"
      ></ion-input>
    </ion-item>
      <div *ngFor="let validation of validationMessage.sponsorId">
        <div *ngIf="submitted && formControls['sponsorId'].errors"class="validation-message">
          <div
            class="error-message text-red"
            *ngIf="formControls['sponsorId'].errors[validation.type]"
          >
            {{ validation.message }}
          </div>
        </div>
      </div>
     
    
    <ion-item lines="none" class="form-group ion-no-padding">
      <ion-checkbox
        slot="start"
        mode="md"
        formControlName="agree"
        (ionChange)="addPopUp()"
      ></ion-checkbox>
      <ion-label class="ion-text-wrap">{{'REGISTER.AGREE' | translate}}</ion-label>
    </ion-item>
      <div *ngFor="let validation of validationMessage.agree">
        <div
          *ngIf="submitted && formControls['agree'].errors"
          class="validation-message"
        >
          <div
            class="error-message text-red"
            *ngIf="formControls['agree'].errors[validation.type]"
          >
            {{ validation.message }}
          </div>
        </div>
      </div>
   

    <ion-button class="btn" color="danger" expand="block" (click)="submit()"
      >{{'REGISTER.REGISTER_BTN' | translate}}
    </ion-button>
    <ion-button
      class="btn"
      color="danger"
      expand="block"
      [routerLink]="['/login']"
    >
      {{'REGISTER.LOGIN_BTN' | translate}}</ion-button
    >
  </ion-list>
  </form>
</ion-content>
