.register-img-layer {
  display: block;
  margin-top: 70px;
  img {
    width: 180px;
    margin: auto;
    display: block;
  }
}
.register-img {
  display: block;
  background: url(../../../assets/img/register.jpeg);
  width: 285px;
  height: 145px;
  border-radius: 15px;
  margin: 30px auto 20px auto;
  background-position: center;
}

.register-header {
  text-align: center;

  h1 {
    margin: 0px;
    font-size: 24px;
    color: #666666;
    font-style: normal;
    font-weight: normal;
  }
}
.dont-know {
  color: #6d6d6d;
  font-size: 15px;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  width: 100%;
  display: block;
  margin-top: 20px;
  margin-bottom: 15px;
  span {
    color: #a9d5c1;
    font-weight: 400;
  }
}
form {
  padding: 5px;
  padding-top: 0px;
  .form-group {
    position: relative;
    margin-top: 10px;
    --inner-padding-end: 5px !important;
  }
  div{
    padding: 1px 10px;
  }
  ion-input,
  ion-select,
  ionic-selectable {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    border: 1px solid #d6d6d6 !important;
    height: 45px;
    width: 100%;
    max-width: 100%;
    border-radius: 5px !important;
    padding: 0px 11px !important;
    --padding-bottom: 0px;
    --padding-top: 0px;
    --padding-start: 0px;
    --padding-end: 0px;
    --inner-padding-end: 0 !important;
  }

  ion-intl-tel-input {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    border: 1px solid #d6d6d6 !important;
    height: 40px;
    width: 100%;
    border-radius: 5px !important;
    --padding-bottom: 0px;
    --padding-top: 0px;
    --padding-start: 0px;
    --padding-end: 0px;
    --inner-padding-end: 0 !important;
  }

  ion-item.item-has-value ion-label,
  ion-item.item-has-focus ion-label {
    top: 15px !important;
    background: white;
    z-index: 999;
    text-align: left;
    font-size: 16px !important;
    width: 100px !important;
    padding-left: 10px;
  }

  ion-label.label-floating {
    position: relative;
    top: 3px;
    left: 10px;
    font-size: 15px !important;
    color: gray !important;
  }
  .password-input {
    position: relative;
    ion-input {
      --padding-bottom: 0px;
      --padding-top: 0px;
      --padding-start: 0px;
      --padding-end: 40px;
    }
    ion-icon {
      position: absolute;
      bottom: 10px;
      right: 20px;
      font-size: 25px;
      z-index: 9999;
    }
  }
  .forgot-password {
    color: #6d6d6d;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
  }
  .dont-know {
    color: #6d6d6d;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
    width: 100%;
    display: block;
    margin-top: 20px;
    span {
      color: #ff662a;
    }
  }
  .btn {
    height: 40px;
    font-size: 12px;
    font-weight: 600;
    --border-radius: 4px;
    margin: 20px;
  }
  ion-item.form-group.country-group {
       position: absolute;
       width: 70px;
       border: 1px solid #d4d4d4;
       height: 40px;
       border-radius: 4px;
       color: #727272;
       font-size: 14px;
       top: 7px;
       .country-icon {
         top: -2px;
         position: relative;
         left: 5px;
       }
       label{
          position: relative;
          top: -2px;
          margin-left: 6px;
       }
  }
  
  .activation-code {
    top: 32px;
    position: absolute;
    border-radius: 4px;
    color: #6d6d6d;
    font-size: 12px;
    p {
      margin: 0px;
    }
    p.find-label {
      width: 100%;
      color: #a9d5c1;
    }
  }
  .phone-code-div{
    // width: 40%;
    padding: 0px !important;
    display: flex;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;

  }
  .phone-code-div span{
    width:20px;
  }


  .phone-ion{
    width:82px; 
    border:0px !important;

  }
  .phone-ion .ionic-selectable-icon {
   display:none !important;
 }
  
}
.tnc{
  color: #ff6629;
  text-decoration: underline;
  font-size: 12px;
  text-transform: uppercase;

 }
 .item-input ion-label{
  pointer-events:all!important;
}
.item-cover{
  display:none;
}

ion-checkbox:label{
  display:inline!important;
}

