<ion-header>
  <ion-toolbar>
    <ion-title>{{'MODALS.SPONSOR.title' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <!-- line -->
  <div style="padding:10px"> </div>

  <ion-list lines="none" class="" style="margin:2px 0px" *ngIf="title == 'sponsor'">
    <ion-item lines="none">
      <ion-label>{{'MODALS.SPONSOR.NAME' | translate}} :</ion-label>
      <span>{{sponsors?.data?.firstName}} {{sponsors?.data?.lastName}}</span>
    </ion-item>
    <ion-item (click)="sendmail(sponsors?.data?.email)">
      <ion-label>{{'MODALS.SPONSOR.EMAIL' | translate}} :</ion-label>
      <span>{{sponsors?.data?.email}}</span>
    </ion-item>

    <ion-item (click)="callNo(sponsors?.data?.phoneNo)">
      <ion-label>{{'MODALS.SPONSOR.PHONE' | translate}} :</ion-label>
      <span>{{sponsors?.data?.phoneNo}}</span>
    </ion-item>

  </ion-list>
  <ion-list lines="none" *ngIf="title=='header'">

    <ion-item>
      <ion-label> {{sponsors?.data?.firstName}} {{sponsors?.data?.lastName}}</ion-label>
    </ion-item>

    <ion-item (click)="callNo(sponsors?.data?.phoneNo)" lines="none">
      <ion-label>{{sponsors?.data?.phoneNo}}</ion-label>
      <ion-icon name="call-outline" slot="end"></ion-icon>


    </ion-item>
    <ion-item (click)="sendmail(sponsors?.data?.email)" lines="none">

      <ion-label>{{sponsors?.data?.email}}</ion-label>
      <ion-icon name="mail-outline" slot="end"></ion-icon>


    </ion-item>


  </ion-list>
  <div style="padding:10px"> </div>
  <!-- line -->
  <div class="modal-close">
    <ion-button class="btn" color="secondary" (click)="utiSer.closeModal()">
      {{'MODALS.BUTTONS.CLOSE' | translate}}
    </ion-button>

  </div>

</ion-content>