<app-header [headerTitle]="'Agreement.title' | translate" [headerBack]=true></app-header>
<ion-content>
  <div style="padding: 10px;"></div>

  <ion-list >
    <div  *ngIf=" profile?.countryId == '84' && !next">
     
      <ion-item lines="none" >
        <ion-label class="ion-text-wrap">
          <strong>{{'Agreement.german.title' | translate}}</strong>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-radio-group [value]="selected_option" >
          <ion-item (click)="selected_option = 'check1';errorText= '';">
            <ion-label class="ion-text-wrap check-label">{{'Agreement.german.line1' | translate}}</ion-label>
            <ion-radio slot="start" value="check1" checked="selected_option =='check1'"></ion-radio>
            <!-- <ion-checkbox slot="start" class="privacy-check" [(ngModel)]="line1" (ionChange)="errorText = ''">
        </ion-checkbox> -->
          </ion-item>
          <ion-item (click)="selected_option = 'check2';errorText= '';">
            <ion-label class="ion-text-wrap check-label">{{'Agreement.german.line2' | translate}}</ion-label>
            <ion-radio slot="start" value="check2" checked="selected_option =='check2'"></ion-radio>
            <!-- <ion-checkbox slot="start" class="privacy-check" [(ngModel)]="line2" (ionChange)="errorText = ''">
        </ion-checkbox> -->
          </ion-item>
          <ion-item (click)="selected_option = 'check3';errorText= '';">
            <ion-label class="ion-text-wrap check-label">{{'Agreement.german.line3' | translate}} <br>
              {{'Agreement.german.line3.1' | translate}} <br>{{'Agreement.german.line3.2' | translate}}</ion-label>
            <ion-radio slot="start" value="check3" checked="selected_option =='check3'"></ion-radio>
            <!-- <ion-checkbox slot="start" class="privacy-check" [(ngModel)]="line3" (ionChange)="errorText = ''">
        </ion-checkbox> -->
          </ion-item>
          <div *ngIf="errorText" class="error-text">{{errorText}}</div>

        </ion-radio-group>
      </ion-item>

    </div>
    <div *ngIf=" profile?.countryId != '84' && !next">
      <ion-item lines="none" >
        <ion-label class="ion-text-wrap">
          <strong>{{'Agreement.all-partner.title' | translate}}</strong>
        </ion-label>
      </ion-item>

     
      <ion-item lines="none">
      <div  class="partner-warn">
        <strong>{{ 'Agreement.partner-warning' | translate }}</strong>
      </div>
    </ion-item>
  </div>
    <ion-item lines="none" *ngIf="!next">
      <div class=" tax">

        <div>
          <span>{{'Agreement.german.input1' | translate}} :</span>

          <ion-input type="text" class="form-group" placeholder="{{'Agreement.german.input1' | translate}}"
            [(ngModel)]="financeDepart" id="financeDepart" autocapitalize="off">
          </ion-input>
        </div>
        <div>
          <span>{{'Agreement.german.input2' | translate}} :</span>

          <ion-input type="number" placeholder="{{'Agreement.german.input2' | translate}}" [(ngModel)]="taxId"
            id="taxId" autocapitalize="off">
          </ion-input>
        </div>
        <div>
          <span>{{'Agreement.german.input3' | translate}} :</span>

          <ion-input type="text" placeholder="{{'Agreement.german.input3' | translate}}" [(ngModel)]="VATId" id="VATId"
            autocapitalize="off">
          </ion-input>
        </div>
        <div *ngIf="taxIderror" class="error-text">{{taxIderror}}</div>
      </div>
    </ion-item>
   
   
    <div *ngIf="next">
      <ion-item lines="none" >
        <a  (click)="openBrowser(partner)" slot="end" >
          <!-- {{'Agreement.german.btn' | translate}} -->
          Open In Browser
        </a>
      </ion-item>
      <ion-item lines="none" style="height: 400px; ">
        <!-- <div  style="height: 100%; border: solid 1px #ccc;
      border-radius: 2px;"> -->
   
        <iframe class="webPage" class="partner-frame" frameborder="0" name="eventsPage" [src]="partner" (click)="openBrowser(partner)">
        </iframe>
       
        <!-- </div> -->

      </ion-item>
      <ion-item lines="none">
        <ion-label class="ion-text-wrap">
          {{'Agreement.all-partner.sub-text' | translate}}
        </ion-label>
      </ion-item>




      <div  class="question">

        <div>
          <span  class="sign">{{profile?.firstName}}</span>
          <ion-input type="text" class="form-group" placeholder="Firstname" [(ngModel)]="firstname" id="firstname"
            autocapitalize="off">
          </ion-input>
        </div>
        <div>
          <span  class="sign">{{profile?.lastName}}</span>
          <ion-input type="text" placeholder="Family Name" [(ngModel)]="lastname" id="lastname" autocapitalize="off">
          </ion-input>
        </div>

      </div>

      <div  class="sign-error">
        <div *ngIf="firstnameMessage" class="error-text">{{firstnameMessage}}</div>

        <div *ngIf="lastnameMessage" class="error-text">{{lastnameMessage}}</div>
      </div>

    </div>

    <div class="text-center next"  *ngIf="!next">
      <a class="btn btn1" (click)="goForSign()" >
        {{'Agreement.german.btn' | translate}}
      </a>
      <!-- <a class="btn btn1" (click)="checkDigitalSign();" *ngIf="next &&  profile?.countryId != '84'">
        {{'Agreement.all-partner.btn' | translate}}
      </a> -->
    </div>


    <div class="text-center next" *ngIf="next ">
      <a class="btn btn2" (click)="next=false;">
        {{'QUESTIONNAIRE.btn.back' | translate}}
      </a>
      <a class="btn btn1" (click)="checkDigitalSign();">
        {{'Agreement.all-partner.btn' | translate}}
      </a>
    </div>
  </ion-list>
  <div style="padding: 10px;"></div>
</ion-content>