.form1 .custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background: transparent;
}

.form1 .custom-checkbox .custom-control-label::before {
    width: 18px;
    height: 18px;
    border-radius: 0;
    background: #c4c4c4;
    box-shadow: none !important;
    outline: none !important;
}

.form1 .custom-checkbox .custom-control-label::after {
    width: 18px;
    height: 18px;
}

.form1 .custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background: #ff662a;
}

.question {
    padding: 10px 10px;

    div {
        margin: 10px;
    }
}

.tax{
    padding: 20px 0px;
    div{
        display: flex;
        font-size:14px;
        margin: 10px;
        span{
            padding:10px;
        }
    }
}

 ion-input {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    border: 1px solid #d6d6d6 !important;
    height: 35px;
    width: 90%;
    max-width: 100%;
    border-radius: 5px !important;
    padding: 0px 6px !important;
    --padding-bottom: 0px;
    --padding-top: 0px;
    --padding-start: 0px;
    --padding-end: 0px;
    --inner-padding-end: 0 !important;
}



.lines ion-text p {
    margin: 10px;
}
ion-label{
    line-height: 1.1 !important;
    font-size:13px !important;
}

.btn1 {

    background-color: #ff662a;
    border: 1px solid #ff662a;
  }
  .btn2{
    background-color: #14253B;
    border: 1px solid #14253B;
    
  }

  .btn {
    display: inline-block;
    width: auto;
    min-width: 48%;
    color: #fff;
    text-align: center;
    padding: 10px 15px;
    font-size: 0.8125em;
    line-height: 1.5;
    border-radius: 2px;
    transition: all 0.4s ease;
    white-space: normal;
    box-shadow: 0 2px 10px rgb(0 0 0 / 5%) !important;
    outline: none !important;
    text-transform: uppercase;
    margin:1px
  }

  ion-radio.ios{
    border: solid 1px #ccc !important;
    border-radius: 7px !important;
    height: 15px !important;
}
.sign{
    padding: 10px;
}
.question{
    display:flex;
    padding-left:20px
}
.sign-error{
    padding-left:20px;
}
.next{
    width: 100%;
    text-align: center;
}

.error-text{
    color: red;
    padding: 5px 10px;
}
.partner-warn{
    border: solid #000 2px;
      padding: 15%;
      font-size: 18px;
}

.partner-frame{
    height:400px;border: solid 1px #ccc;
        border-radius: 2px;
}