
<app-header  [headerTitle]="'PAGES.DASHBOARD' | translate"  [headerBack]=false  ></app-header>
<ion-content>
  <h1>{{'AREA_OF_INTEREST.TITLE' | translate}}</h1>
  <div *ngIf="utility.deviceLang == 'en'">

 
  <div class="section section-gray">
    <ion-button class="btn" color="danger" expand="block" (click)="openPersonalized()">
      {{'AREA_OF_INTEREST.PERSONALIZED_BTN' | translate}}</ion-button>
    <p>{{dashboardData[0]?.firstEN}}

  
      {{dashboardData[0]?.secondEN}}</p>
  </div>
  <div class="section section-gray">
    <ion-button class="btn" color="danger" expand="block" (click)="openPartnership()">
      {{'AREA_OF_INTEREST.PARTNERSHIP_BTN' | translate}}</ion-button>
      <p>{{dashboardData[1]?.firstEN}}

      <!-- </p> <p> -->
        {{dashboardData[1]?.secondEN}}</p>
  </div>
</div>
<div *ngIf="utility.deviceLang == 'de'">

 
  <div class="section section-gray">
    <ion-button class="btn" color="danger" expand="block" (click)="openPersonalized()">
      {{'AREA_OF_INTEREST.PERSONALIZED_BTN' | translate}}</ion-button>
    <p>{{dashboardData[0]?.firstDE}}

  
      {{dashboardData[0]?.secondDE}}</p>
  </div>
  <div class="section section-gray">
    <ion-button class="btn" color="danger" expand="block" (click)="openPartnership()">
      {{'AREA_OF_INTEREST.PARTNERSHIP_BTN' | translate}}</ion-button>
      <p>{{dashboardData[1]?.firstDE}}

      <!-- </p> <p> -->
        {{dashboardData[1]?.secondDE}}</p>
  </div>
</div>
</ion-content>