ion-radio.ios{
    border: solid 1px #ccc !important;
    border-radius: 7px !important;
    height: 15px !important;
}

ion-title{
    font-size: 14px;
}
ion-toolbar{
    --min-height: 42px;
    padding:0px
}

.ion-content-iframe{
    --padding-end: 0px !important;
    --padding-start: 0px !important;
    --padding-bottom: 0px !important;
    --padding-top: 60px !important;
}

